.map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
  }
  .map-container {
    overflow: hidden;
  }

.bg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bg.hoguom {
    background: url('/public/maps/hoguom-mini.png') no-repeat;
    width: 2320px;
    height: 1080px;
  }
  .bg.hanoimoi {
    background: url('/public/maps/hanoimoi.png') no-repeat;
    width: 2680px;
    height: 1432px;
  }
  .bg.vuonhoalythaito {
    background: url('/public/maps/vuonhoalythaito-mini.png') no-repeat;
    width: 1920px;
    height: 1240px;
  }
  .bg.nhatuhoalo {
    background: url('/public/maps/nhatuhoalo.png') no-repeat;
    width: 2560px;
    height: 960px;
  }

.count {
    position: fixed;
    top: 20px;
    left: 90px;
    font-size: 24px;
    color: #fff;
    z-index: 10;
    background: var(--color-orange);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    z-index: 1001;
  }
  
  #goal {
    margin-left: -70px;
    background-color: rgba(250, 235, 215, 0.75);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    outline: 4px var(--color-off-white) solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer {
    position: fixed;
    top: 170px;
    left: 20px;
    font-size: 24px;
    width: 100px;
    height: 40px;
    background-color: var(--color-white);
    outline: 2px var(--color-black) solid;
    text-align: center;
    border-radius: 10px;
    z-index: 1002;
  }
  .timer.alert {
    color: var(--color-orange);
    outline: 3px var(--color-orange) solid;
  
  }
  .close {
    position: fixed;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 100%;
    outline: 3px var(--color-white) solid;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 14px;
    top: 6px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: var(--color-white);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }