.PostCardWrapper {
    border: 1px solid var(--color-black);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
    align-items: center;
    background-color: var(--color-off-white);
    width: 45%;
    max-width: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.PostCardWrapper .thumbnail, .PostCardWrapper .thumbnail img {
    width: 100%;
    border-radius: 16px;
}

.PostCardWrapper .thumbnail img{
    border: 1px solid var(--color-black);
}

.PostCardWrapper .ButtonWrapper {
    display: flex;
    gap: var(--space-l);
}