.cat1 {
    background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -35px -40px;
    width: 85px;
	height: 95px;
}


.cat2 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -225px;
	width: 135px;
	height: 65px;
}

.cat3 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -385px;
	width: 135px;
	height: 65px;
}

.cat4 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -545px;
	width: 135px;
	height: 65px;
}

.cat5 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -10px -675px;
	width: 140px;
	height: 100px;
}

.cat6 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -10px -835px;
	width: 140px;
	height: 100px;
}

.cat7 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -1015px;
	width: 135px;
	height: 90px;

}

.cat8 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -45px -1120px;
	width: 75px;
	height: 160px;
}

.cat9 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -1310px;
	width: 90px;
	height: 105px;
}

.cat10 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -1470px;
	width: 140px;
	height: 100px;
}

.cat11 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -40px -1600px;
	width: 75px;
	height: 160px;
}

.cat12 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat no-repeat -40px -1760px;
	width: 75px;
	height: 160px;
}

.cat13 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -1970px;
	width: 135px;
	height: 65px;
}

.cat14 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -10px -2115px;
	width: 140px;
	height: 100px;
}

.cat15 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -2270px;
	width: 90px;
	height: 105px;
}

.cat16 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -2435px;
	width: 90px;
	height: 105px;
}

.cat17 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -2595px;
	width: 90px;
	height: 105px;
}

.cat18 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -10px -2750px;
	width: 140px;
	height: 100px;
}

.cat19 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -45px -2880px;
	width: 75px;
	height: 160px;
}

.cat20 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -10px -3075px;
	width: 140px;
	height: 100px;
}

.cat21 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -40px -3200px;
	width: 75px;
	height: 160px;
}

.cat22 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -3395px;
	width: 85px;
	height: 95px;
}

.cat23 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -3550px;
	width: 90px;
	height: 105px;
}

.cat24 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -30px -3710px;
	width: 90px;
	height: 105px;
}

.cat25 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -3895px;
	width: 135px;
	height: 90px;
}

.cat26 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -4055px;
	width: 135px;
	height: 90px;
}

.cat27 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -4055px;
	width: 135px;
	height: 90px;
}

.cat28 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -4375px;
	width: 135px;
	height: 90px;
}

.cat29 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -4535px;
	width: 135px;
	height: 90px;
}

.cat30 {
	background: url('../../public/sprites/Cat-Sprite-Sheet.png') no-repeat -15px -4695px;
	width: 135px;
	height: 90px;
}

