:root {
  --color-black: #202020;
  --color-white: #F0F0F0;
  --color-off-white: #EDEDED;

  /* Space - Sizes */
  --space-none: 0;
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 44px;
  --space-xxl: 52px;

  --nav-height: 90px;
  --nav-height-mb: 60px;
  --mb-footer: calc(var(--space-xxl)*2);
  --mb-footer-mb: var(--space-xxl);

  --max-width: 1920px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
